

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  
  
  .main-button-projeto {
    background: rgb(255, 255, 255);
    border: none;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
  }

  @keyframes fadeInText {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @keyframes revealBlock {
      from{transform: translateX(0);
      }
      to {
          transform: translateX(100%);
      }
  }
  @keyframes enLargeBlock {
      from {
          width: 0%;
      }
      to {
          width: 100%;
      }
  }