* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255) !important;
    font-family: 'Poppins', sans-serif;
}
.logo {
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin-left: 15px;
    margin-top: 5px;
    border: 3px solid   black;
    
}

ul {
    list-style: none;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
}
a{
    text-decoration: none;
}
body {

    background: linear-gradient(90deg, #1e130c, #9a8478);
    
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    margin-bottom: 35px;

}
header ul {
    display: flex;
}
header ul li {padding: 8px;
}
header ul li:last-child {margin-right: 15px;
}
.container {
    text-align: center;

}
header ul li a:hover{
    color: rgb(175, 175, 55) !important;
    text-decoration: underline;
} 
.container .name h1 {
    font-size: 54px;
}
.container .name h5 {
    font-size: 28px;
}
#arrow{
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}
#animation {
    transition: 300ms;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}
.active {
    display: block !important; 
    
}
#about p {
    max-width: 65%;
    margin: 0 auto;
}
.form {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}
.form input {
width: 50%;
padding: 5px;
border: none;
border-radius: 5px 0px 0px 5px;

}
.form button {
    width: 15%;
    background-color: rgb(32, 29, 29);
    padding: 5px ;
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: 350ms;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
    margin-top: 10px;
    
    }

    .form button:hover {
        background-color: rgb(175, 175, 55);
        color: #1e130c;
    }


    .card {
        margin-top: 15px;
        padding: 10px 0px 10px 0px;
        color: black;
        display: flex;
        justify-content: space-around  ;
        background: linear-gradient(90deg, #6f451852, #d4a27654) ;
        border-radius: 15px;
        border: 3px solid black;
        
    }
    .projeto {
        background-color: rgb(0, 0, 0);
        border: 3px solid black;
    }
    
    .card-img {
        width: 200px;
        height: 200px;
    }
    .card-text {
        font-size: 14px;
       
    }


    @media only screen and (max-width: 768px){
        .form {width: 100%;}
    }


    @media only screen and (max-width: 480px ) {
        .container .name h1 {
            font-size: 44px;
        }
        .container .name h5 {
            font-size: 20px;
        }
        #about p {
            max-width: 80%;
            text-align: justify;
        }
        header ul li a{
            font-size: 20px;
        
        } 
    }


    