* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
.logo {
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin-left: 15px;
    margin-top: 5px;
    border: 3px solid   black;
    
}

ul {
    list-style: none;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
}
a{
    text-decoration: none;
   ;
}
body {

    background: linear-gradient(90deg, #1e130c, #9a8478);
    
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    margin-bottom: 35px;

}
header ul {
    display: flex;
}
header ul li {padding: 8px;
}
header ul li:last-child {margin-right: 15px;
}
.container {
    text-align: center;

}
header ul li a:hover{
    color: rgb(175, 175, 55) ;
    text-decoration: underline;
} 

.container .name h1 {
    margin-left: 420px;
    font-size: 54px;
    width: 520px;
    opacity: 0;
    animation: fadeInText 1.0s 0.6s both;
}
.container .name h5 {
    width: 300px;
    margin-left: 540px;
    font-size: 28px;
    animation: fadeInText 0.2s 1.6s both;
}
#arrow{
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}
#animation {
    transition: 300ms;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}
.active {
    display: block !important; 
    
}
#about p {
    max-width: 65%;
    margin: 0 auto;
}
.form {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}
.form input {
width: 50%;
padding: 5px;
border: none;
border-radius: 5px 0px 0px 5px;

}
.form button {
    width: 15%;
    background-color: rgb(32, 29, 29);
    padding: 5px ;
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: 350ms;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
    margin-top: 10px;
    
    }

    .form button:hover {
        background-color: rgb(175, 175, 55);
        color: #1e130c;
    }
   
    .txt-button {
       color: black;
    }
    .button-projeto {
     
    }
    
    .card-img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }
    .card-text {
        font-size: 14px;
       
    }


    @media only screen and (max-width: 768px){
        .form {width: 100%;}
    }


    @media only screen and (max-width: 480px ) {
        .container .name h1 {
            font-size: 44px;
        }
        .container .name h5 {
            font-size: 20px;
        }
        #about p {
            max-width: 80%;
            text-align: justify;
        }
        header ul li a{
            font-size: 20px;
        
        } 
    }


    .projeto {
        height: 300px;
        width: 550px;
        border-radius: 5px;
        border: 2px solid rgba(255, 255, 255, 0.418);
        display: flex; 
        justify-content: center;     
    }
    .projeto-1 {
        background: linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.50)100%), url(/img/netflix-interface.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .projeto-1:hover {
        background: url(/img/netflix-interface.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .projeto-2:hover {
        background-image: url(/img/print-bleach.png);
        background-size: cover;
        background-repeat: no-repeat; 
    }

    .projeto-2 {
        background-image: linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.50)100%), url(/img/print-bleach.png);
        background-size: cover;
        background-repeat: no-repeat; 
    }    
    .button-projeto {
        margin-top: 310px;
       background-color: rgba(192, 194, 53, 0.288);
       border: none;
       height: 40px;
       width: 90px;  
       transition: 0.2s ease-in-out;  
       border-radius: 15px;  
       cursor: pointer;
    }
    .button-projeto:hover{
        background-color: rgba(170, 168, 36, 0.753);
        color: black;
        height: 50px ;
        width: 100px;
        
    }
    .main-button-projeto {
        height: 100px;
        width: 100px;
        border-radius: 20px;
        background-image: url(./img/project.png);
        background-size: cover;
        transition: 0.2s ease-in-out;
        animation: wiggle 2s linear infinite;
        cursor: pointer;
        margin-top: 8px;
    }
    .projetos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        
    }
    .img-projeto {
        height: 100px;
        width: 100px;
    }
    .text-block {
        position: relative;
        overflow: hidden;
    }
    .text-block:after {        
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: yellow;
        transform: translateX(-100%);
        animation: enLargeBlock .2s 0.6s both, revealBlock 1.5s 0.6s;
        
    }
    .text-block-2 {
        position: relative;
        overflow: hidden;
    }
    .text-block-2:after {        
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: yellow;
        transform: translateX(-100%);
        animation: enLargeBlock .2s 0.6s both, revealBlock 1.1s 1.5s;
        
    }
.input-email {
    color: black ;
}









div#hint{
    background-color: rgba(0, 0, 0, 0.322);
    color: orangered;
    box-sizing: border-box;
    visibility: hidden;  
    border-radius: 10px;
    display: flex;
    width: 0px;
    padding: 0px;
    justify-content: space-around;
    flex-direction: row;
    height: 0px; 
    overflow: hidden;
    font-weight: bold;
    transition: height 0.8s, width 0.8s, padding 1s, visibility 1s, opacity 0.5s ease-out;
  }
  .botao-do-teste {
      color: black;
      height: 100px;
        width: 100px;
        border-radius: 20px;
        background-image: url(./img/project.png);
        background-size: cover;
        transition: 0.2s ease-in-out;
        animation: wiggle 2s linear infinite;
        cursor: pointer;
  }